In [15]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [16]:
files = [f for f in listdir('.') if '.txt' in f]

In [17]:
files

['Segment_956553902_t1_20220820.txt',
 'Segment_956553902_t1_20220830.txt',
 'Segment_956553902_t1_20220903.txt',
 'Segment_956554002_t2_20220820.txt',
 'Segment_956554002_t2_20220830.txt',
 'Segment_956554002_t2_20220903.txt',
 'Segment_956554102_control_20220820.txt',
 'Segment_956554102_control_20220830.txt',
 'Segment_956554102_control_20220903.txt']

In [19]:
for f in files:
    segment = f.split('.')[0]
    treatment = [m for m in ['control','t1','t2'] if m in segment]
    date = [m for m in ['20220820','20220830','20220903'] if m in segment]
    tmp = pd.read_csv(f, sep=" ",header=None)
    tmp.columns = ['customer_id']
    tmp['treatment'] = treatment[0]
    tmp['date'] = date[0]
    tmp.to_parquet(segment, compression='snappy')

In [20]:
tmp.head()

   customer_id treatment      date
0  10000000335   control  20220903
1   1000000063   control  20220903
2   1000000072   control  20220903
3  10000002812   control  20220903
4   1000000362   control  20220903